<div id="video1550479878372125ff-29bd-474c-ade7-76dae1f2a7b9.1"
     style="width: 300px; height: 250px;">
  <script src="http://p.algovid.com/player/player.js?p=1550479878&sid=smaato_com.yiba.sharewe.lite.activity_WeShare WiFi SDK_SDK Giftbox 320*250_Android_MEDIUMRECTANGLE_300x250_IAB19&cb=372125ff-29bd-474c-ade7-76dae1f2a7b9.1&w=300&h=250&d=com.yiba.sharewe.lite.activity&c1=372125ff-29bd-474c-ade7-76dae1f2a7b9.1&appn=WeShare WiFi SDK_SDK Giftbox 320*250_Android_MEDIUMRECTANGLE_300x250_IAB19&appb=com.yiba.sharewe.lite.activity&appidfa=&appaid=f655aa28-04fc-4271-9617-e054646e61a0&loclong=-79.375400&loclat=43.645600&loc=43.645600,-79.375400&deviceid=f655aa28-04fc-4271-9617-e054646e61a0&country=CAN"
          type="text/javascript"></script>
</div>
<script type="text/javascript">
  var tab_adloox_alerte_id_smaato=['1100033646','130281517','13002','1542','1001351','com.yiba.sharewe.lite.activity','168d065e-7ac0-4041-a009-9ca889230433','MOBILEAPP'];
</script>
<script type="text/javascript"
        src="https://am.adlooxtracking.com/ads/js/tfav_smaato_smaato.js"></script>
<img border="0"
     src="http://ets-us-east-1.smaato.net/v1/view?sessionId=168d065e-7ac0-4041-a009-9ca889230433&adSourceId=b4ee83ec-d046-4adb-90ab-a85eb1b5f1f1&originalRequestTime=1498035717635&expires=1498035957635&winurl=Pwpqab3PZBg0W_eZordXWfURZnKtkoaxmhwrcS3kwCzDdsELoh72zOOZFkkZf6B6P-6tr8sM-gkF7bE9PFK-sKgI6M-N_VLeg9ccIGud58DGmj41f-C9llNvjPcKSNVZ%7C-kQQD7aff1In7rRVpubfvg%3D%3D"
     alt=""/>